.formField {
  border: none;
  display: flex;
  flex-direction: column;
  gap: 0.75rem;

  > ol {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }
}

.form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}