.matchStepsTracker {
	--ant-color-text-disabled: var(--colorSecondary);
	--textColor: var(--colorSecondary);
	--stepColor: var(--colorSecondary);

	:global(.ant-steps-item-icon) {
		--ant-cmp-steps-item-icon-bg-color: var(--stepColor);
		--ant-cmp-steps-item-icon-text-color: var(--colorOnPrimary) !important;

		&:hover {
			--ant-cmp-steps-item-icon-bg-hover-color: var(--stepColor) !important;
		}
	}

	:global(.ant-steps-item-title) {
		color: var(--textColor);
	}

	:global(.ant-steps-item-active) {
		--textColor: var(--colorPrimary);
	}

	:global(.ant-steps-item-finish) {
		--textColor: var(--colorSuccess);
		--stepColor: var(--colorSuccess) !important;

		&:hover {
			--ant-cmp-steps-item-icon-bg-hover-color: var(--stepColor) !important;
      --ant-color-primary: var(--colorBlack) !important;
      --ant-color-primary-hover: var(--colorSuccess) !important;
		}
	}
}
